<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuiLa"
        tools:targetApi="31">
        <activity
            android:name="MainFiles.MainActivity"
            android:exported="true"  />
        <activity android:name="MainFiles.Login_screen"></activity>
        <activity android:name="MainFiles.Create_Account"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Sample Ad Manager app ID: ca-app-pub-3940256099942544~3347511713
    will need to get our own Ad Manager app ID when going to publish later -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>