<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuiLa"
        tools:targetApi="31">

        <activity android:name=".Login_screen"/>
        <activity android:name=".Create_Account"/>
        <activity android:name=".Acc_Settings"/>
        <activity android:name=".Add_payment"/>
        <activity android:name=".App_settings"/>
        <activity android:name=".B_E_options"/>
        <activity android:name=".Badges"/>
        <activity android:name=".Csupport"/>
        <activity android:name=".Emotions"/>
        <activity android:name=".MainMenu"/>
        <activity android:name=".Nav_menu"/>
        <activity android:name=".Payment"/>
        <activity android:name=".Prompt"/>
        <activity android:name=".Settings_menu"/>
        <activity android:name=".B_E_3Min"/>
        <activity android:name=".B_E_5Min"/>
        <activity android:name=".B_E_10Min"/>
        <activity android:name=".B_E_Infinite"/>
        <activity
            android:name=".LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".JournalTableActivity"
            android:exported="false" />
        <activity
            android:name=".JournalWriteActivity"
            android:exported="false"/>
        <activity
            android:name=".GuidedMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".GuidedMeditationPlayer"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Sample Ad Manager app ID: ca-app-pub-3940256099942544~3347511713
        will need to get our own Ad Manager app ID when going to publish later -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>
</manifest>